<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="flex">
    <div class="bg-blue-600 border-right-1 p-3" id="sidebar">
      <h3 class="text-white">
        Gif's App
      </h3>
      
      <hr class="text-white">
      
      <div>
        <a href="#">Dashboard</a>
      </div>

    </div>

    <div class="px-6">
      
      <div class="grid p-2">
        <div class="col">
          <h3>Buscar:</h3>
          <input type="text" pInputText placeholder="Buscar Gif..."/>
        </div>
      </div>

      <hr>
      <div class="grid p-3">
        <div class="col">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid accusantium natus omnis debitis doloremque dignissimos consequuntur perspiciatis, porro sapiente sit alias corrupti eligendi magni, dolores laudantium. Deserunt quam hic sapiente?
        </div>
      </div>

    </div>
    
  </div>

</body>
</html>