/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#sidebar {
    width: 15%;
    min-width: 200px;
}

#page {
    max-width: 90%;
}